header{
    padding-top: 8rem;
}

.header__container{
    text-align: left;
    height: 100%;
    position: relative;
}
.header__flex{
    display: flex;
    justify-content: space-between;
}
.header__presentation{
    width: auto;
}
.header__presentation span{
    font-size: 1.5rem;
}
.header__presentation h1{
    font-size: 3.5rem;
    line-height: 5rem;
    margin: 1.5rem 0;
}
.header__presentation h1 span{
    font-size: 4.5rem;
    color: var(--color-primary);
}
.header__flex-child2{
    flex-grow: 1;
}
.header__img{
    width: 30rem;
    margin: auto;
    margin-top: 2rem;
}

/* ================== CTA ================== */
.cta{
    margin-top: -2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: flex-start;
}
.cta a{
    margin-right: .8rem;
}


/* ================== HEADER SOCIALS ================== */
.header__socials{
    font-size: 2.5rem;
    margin: 1rem;
    display: flex;
    gap: 4rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--color-primary-variant);
    margin-left: -150px;
}
.header__socials a{
    color: var(--color-primary-variant);
}
.header__socials a:hover{
    color: var(--color-primary);
}
/* -------------------- MEDIA QUERIES (MEDIUM DEVICES) -------------------- */
@media screen and (max-width: 1260px) {
    .header__img{
        width: 20rem;
    }
    .cta{
        margin-top: 2rem;
    }
}


/* -------------------- MEDIA QUERIES (MEDIUM DEVICES) -------------------- */

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
    .header__img {
        width: 20rem;
    }
    .cta{
        margin-top: 2rem;
    }
}

/* -------------------- MEDIA QUERIES (SMALL DEVICES) -------------------- */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
        padding-top: 4.5rem;
        margin-bottom: 4rem;
    }
    .header__presentation span{
        font-size: 1.1rem;
    }
    .header__presentation h1{
        font-size: 3rem;
        line-height: 5rem;
        margin-bottom: 2.5rem;
    }
    .header__presentation h1 span {
        font-size: 4.5rem;
    }
    .header__img {
        display: none;
        width: 0;
    }

    .header__socials {
        margin-top: 2rem;
        border-bottom: none;
        width: 300px;
    }
    .header__language{
        margin-top: -5rem;
    }
    .header__language button{
        font-size: .8rem;
        margin: 0 0.5rem;
    }
    .header__language-icon{
        font-size: 1.1rem;
        margin-bottom: -.2rem;
        margin-right: .2rem;
    }
}