
.sidebar__nav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
}


.sidebar__background{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #4db5ffee;
}

.sidebar__button{
    outline: none;
    border: none;

    cursor: pointer;
    position: absolute;
    top: 18px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
}

.sidebar__ul,
.sidebar__li{
    margin: 0;
    padding: 0;
}

.sidebar__ul{
    padding: 25px;
    position: absolute;
    top: 100px;
    width: 230px;
}

.sidebar__li{
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar__icon-placeholder{
    margin-right: 20px;
}
.sidebar__icon-placeholder a{
    font-size: 2rem;
    color: var(--color-bg);
}

.sidebar__text-placeholder a{
    color: var(--color-bg);
}

.slider__language{
    margin-left: calc(50% - 30px);
    margin-bottom: 4rem;
}

/* -------------------- MEDIA QUERIES (MEDIUM DEVICES) -------------------- */

@media screen and (max-width: 1024px) {
    .sidebar__background{
        background-color: var(--color-primary);
    }
}

/* -------------------- MEDIA QUERIES (SMALL DEVICES) -------------------- */

@media screen and (max-width: 600px) {
    .sidebar__background{
        width: 100vh;
    }
    .sidebar__ul{
        margin-left: 1.5rem;

    }
    
}
